<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <section class="productdetail__section">
                <h2 class="section__title"><%= package.name %></h2>
                <article class="productdetail__article">
                    <div class="detail__img">
                        <img src="/img/img_travels/<%= package.Hotel.image %>" alt="destino">
                    </div>
                    <div class="productdetail__desc">
                        <ul>
                            <h2>Hotel: <%= package.Hotel.name %></h2>
                            <li><%= package.Hotel.description %></li>
                            <li>Noches: <%= package.total_nights %></li>
                            <li>Incluye: <%= package.Transfer.name %> y Excursion <%= package.Excursion.name %> </li>
                        </ul>
                        <h4>$<%= package.price %> por persona</h4>
                        <form action="/users/addToCart" method="POST">
                            <div class="cart__semitotal">
                                <i class="fas fa-user"></i>
                                <select name="personas">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <input type="hidden" name="type" value="paquetes">
                                <input type="hidden" name="id" value="<%= package.id %>">
                            </div>
                            <% if (locals.user) { %>
                                <button type="submit">Añadir a Mis Viajes</button>
                            </form>
                                <a href="/paquetes/delete/<%= package.id %>"><button>Eliminar</button></a>
                                <a href="/paquetes/edit/<%= package.id %>"><button>Editar</button></a>
                                <% } else { %>
                            </form>
                        <a href="/users/login"><button>Añadir a Mis Viajes</button></a>
                            <% } %>
                    </div>
                </article>
                <a href="/paquetes">Volver al listado</a>
            </section>
        </main>
        <%- include('../partials/footer') %>

    </div>
</body>

</html>