<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <section class="productdetail__section">
                <h2 class="section__title"><%= product.name %></h2>
                <article class="productdetail__article">
                    <div class="detail__img">
                        <img src="/img/promo2.jpg" alt="destino">
                    </div>
                    <div class="productdetail__desc">
                        <p><%= product.description %></p>
                        <ul>
                            <li>Hotel: <%= product.hotel %></li>
                            <li>Incluye: <%= product.includes %></li>
                            <li>Noches: <%= product.nights %></li>
                        </ul>
                        <h4>$<%= product.price %> por persona</h4>
                        <div class="cart__semitotal">
                            <i class="fas fa-user"></i>
                            <select name="personas">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <button>Añadir a Mis Viajes</button>
                        <form action="/products/delete/<%= product.id %>" method="POST">
                            <button type="submit">Borrar</button>
                        </form>
                        <a href="/products/edit/<%= product.id %>"><button>Editar</button></a>
                    </div>
                </article>
                <a href="/products">Volver al listado</a>
            </section>
        </main>
        <%- include('../partials/footer') %>

    </div>
</body>

</html>