<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <h2 class="section__title">
                Nuestros paquetes turísticos
            </h2>
            <section class="product__detail">
                <% packages.forEach(package => { %>
                <a href="/products/detail/<%= package.id %>">
                    <article class="product__article">
                        <h3><%= package.name %></h3>
                        <div class="productimg__div">
                            <img src="/img/img_travels/<%= package.image %>" alt="destino">
                        </div>
                        <div class="product__desc">
                            <p><%= package.description %></p>
                            <h4>$ <%= package.price %> por persona</h4>
                        </div>
                    </article>
                </a>
                <% }) %>


                <a href=" /products/create"><button class="createProduct__button">Crear
                        nuevo paquete turístico</button>
                </a>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>