<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <section class="productdetail__section">
                <h2 class="section__title"><%= product.name %></h2>
                <article class="productdetail__article">
                    <div class="detail__img">
                        <img src="/img/img_travels/<%= product.image %>" alt="imagen">
                    </div>
                    <div class="productdetail__desc">
                        <ul>
                            <li><%= product.description %></li>                            
                        </ul>
                        <h4>$<%= product.price %> por persona</h4>
                        <form action="/users/addToCart" method="POST">
                            <div class="cart__semitotal">
                                <i class="fas fa-user"></i>
                                <select name="personas">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <input type="hidden" name="type" value="<%= type %>">
                                <input type="hidden" name="id" value="<%= product.id %>">
                            </div>
                            <% if (locals.user) { %>
                                <button type="submit">Añadir a Mis Viajes</button>
                            </form>
                            <% } else { %>
                                </form>
                                <a href="/users/login %>"><button>Añadir a Mis Viajes</button></a>     
                                <% } %>
                            <% if (locals.user.admin) { %>
                                <a href="/paquetes/delete/<%= product.id %>"><button>Eliminar</button></a>
                                <a href="/paquetes/edit/<%= product.id %>"><button>Editar</button></a>                             
                            <% } %>   
                    </div>
                </article>
                <a href="/<%= type %>">Volver al listado</a>
            </section>
        </main>
        <%- include('../partials/footer') %>

    </div>
    <script scr="/javascripts/detail.js" defer></script>
</body>
</html> 