<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <h2 class="section__title">
                <%= section %>
            </h2>
            <section class="product__detail">
                <% products.forEach(product => { %>
                    <a href="/<%= type %>/detail/<%= product.id %>">
                        <article class="product__article">
                            <h3><%= product.name %></h3>
                            <div class="productimg__div">
                                <img src="/img/img_travels/<%= product.image %>" alt="destino">
                            </div>
                            <div class="product__desc">
                                <p><%= product.description %></p>
                                <h4>$ <%= product.price %> por persona</h4>
                            </div>
                        </article>
                    </a>
                    <% }) %>
                </section>
                <h2 class="section__title">
                    ¿Buscas otro servicio?
                </h2>
                <ul class="list__services">
                    <li><a href="/hoteles">Buscar alojamientos</a></li>
                    <li><a href="/excursiones">Buscar excursiones</a></li>
                    <li><a href="/traslados">Buscar traslados</a></li>
                </ul>
            </main>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>