<!DOCTYPE html>
<html lang="es">


<body>

    <h1>Administrador: Listado de Todos los usuarios</h1>
    <section>        
        <article>         
            <ul>
                <% usuarios.forEach(usuario => { %>
                    <li>    
                        <h4><a href="/users/detail/<%= usuario.id %>"> ID de Usuario: <%= usuario.id %></a></h4>                    
                            <h5>Nombre: <%= usuario.first_name %> </h5>
                            <h5>Apellido:  <%= usuario.last_name %> </h5>
                            <h5>Usuario: <%= usuario.username %> </h5>
                            <h5>Email: <%= usuario.email %> </h5>                                 
                            <p></p>                                                                                                 
                <% } ) %> 
            </ul>
        </article>
    </section>
</body>
</html>